body {
    font-family: Arial, sans-serif;
    background-color: #34568B;
    margin: 0;
    padding: 0;
}

.greeting-container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
    text-align:center;
}

p {
    color: #666;
}
viewport {
  position: relative;
  overflow: hidden;          /* We will make or own scrollbars */
  width: 100%;               /* Fit into #editor */
  height: 100%;
  display: flex;             /* Center the #canvas */
  align-items: center;       /* Center the #canvas */
  justify-content: center;   /* Center the #canvas */
}

canvas {
  flex: none;                /* Prevent flexing */
  transform-origin: 50% 50%;
  /* width and height here or rather via your app settings */
}
