body {
    font-family: Arial, sans-serif;
    background-color: #34568B;
    margin: 0;
    padding: 0;
}

.greeting-container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #333;
    text-align:center;
}

p {
    color: #000000;
}
 #time {
     width: 6rem;
     word-wrap: break-word;
     background-color: #808080;
     border-radius: 5px;
     border: 3px black;
     padding: 5px;
     font-size: 1.5rem;
 }
#name {
      width: 20rem;
      word-wrap: break-word;
      background-color: #808080;
      border-radius: 5px;
      border: 3px black;
      padding: 5px;
      font-size: 1.5rem;
  }

        svg path{
            cursor: pointer;
        }
